* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    height: 100vh;
   overflow-x: hidden;
}

#van {
    width: 100vw;
    position: fixed;
    z-index: 2;
}

#nav {
    background-color:  #fdee1a;
    display: flex;
    width: 100vw;
    height: 5vh;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
}

.social {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: blue; */
}

.navbar {
    /* position: fixed; */
    margin: auto;
    background-color: black;
    height: 10vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.home {
    display: flex;
    width: 700px;
    /* background-color: blue; */
    align-items: center;
    justify-content: space-around;
}

.home a {
    text-decoration: none;
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: space-between; */
    color: white;
}

a:hover {
    color:  #fdee1a   ;
}

.mohe {
    /* margin: auto; */
    background-color: #fdee1a;
    height: 50px;
    text-align: center;
    width: 110px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
}

.mohe:hover {
    color: white;
}

.phone {
    width: 130px;
    /* font-size: 30px; */
    align-items: center;
    justify-content: space-between;
    color: black;
    display: flex;
    /* background-color: blue; */
}

.info {
    display: flex;
    /* background-color: blue; */
    width: 400px;
    justify-content: space-between;
}

.info {
    display: flex;
    /* background-color: blue; */
    width: 400px;
    justify-content: space-between;
}

.enve {
    align-items: center;
    width: 230px;
    justify-content: space-between;
    color: black;
    /* font-size: 30px; */
    display: flex;

    /* background-color: aqua; */
}

.car {
    margin: auto;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(car-1579064834-7749-1579064838.jpg);
    /* opacity: 0.3; */
    /* background-image:linear-gradient(to right, rgba(0, 0, 0, 0.766) , rgba(255, 255, 0, 0.549)),url(./2023-cars-malibu.webp); */
    /* background-image: url(2023-cars-malibu.webp); */
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 85vh;
    border: 1px solid black;
}

.get {
    /* background-image: url(Frame\ 85\ \(1\).png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: black;
    /* border-top-right: ; */
    /* background-color: blue; */
    display: flex;
    width: 44vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 40vh;
}

.get h1 {
    font-size: 40px;
    margin-top: -40px;
}

.get span {
    display: block;
    font-size: 18px;
}

.get p {
    font-size: 18px;
}

.get span {
    margin-top: px;
}

.get button {
    background-color:#fdee1a;
    color: black;
    width: 150px;
    border: none;
    margin-bottom: -30px;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

#products {
    color: black;
    background-color: #fdee1a;
    width: 350px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    height: 400px;
}

.name {
    color: black;
    /* background-color: blue; */
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}




hr {
    width: 320px;
}

.details {
    display: flex;
    /* background-color: aqua; */
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}

.peed {
    /* background-color: aqua; */
    display: flex;
    width: 90px;
    align-items: center;
    justify-content: space-between;
}

.ped {
    /* background-color: aqua; */
    display: flex;
    width: 60px;
    align-items: center;
    justify-content: space-between;
}

.pe {
    /* background-color: aqua; */
    display: flex;
    width: 80px;
    align-items: center;
    justify-content: space-between;
}

.details {
    display: flex;
    /* background-color: aqua; */
    width: 300px;
    height: 50px;
    align-items: center;
    justify-content: space-between;
}


.pro {
    /* height: 100vh; */
    padding:130px 50px;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 1%;
    width: 90vw;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.img img {
    width: 350px;
}

button {
    background-color: #fff;
    border: 1px solid #25D366;
    padding: 5px;
    position: relative;
    width: 6.2em;
    height: 2em;
    transition: 0.5s;
    font-size: 17px;
    border-radius: 0.4em;
  }
  
  button p {
    position: absolute;
    top: 0.4em;
    left: 1.15em;
    margin: 0;
    padding: 0;
    transition: .5s;
    color: #25D366;
  }
  
  button svg {
    position: absolute;
    top: 0.45em;
    right: 0.5em;
    margin: 0;
    padding: 0;
    opacity: 0;
    transition: 0.5s;
    height: 1em;
    fill: #fff
  }
  
  button:hover p {
    left: 0.5em;
    color: #fff
  }
  
  button:hover svg {
    opacity: 1;
  }
  
  button:hover {
    background-color: #25D366;
  }
  
     
  .hamburger {
    display: none;
  }

  #menu {
    display: none;
  }

  #dop {
    position: fixed;
    right:14px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
bottom:30px;
color: black;
box-shadow: 1px 1px 1px 2px;
    width: 300px;
  cursor: pointer;
    background-color: #fdee1a;
    height: 50px;
    /* color: white; */
    font-weight: bolder;
    font-size: larger;
}

#po a:hover {
    color: black;
}

#footer{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(./pexels-mike-b-120049.jpg);
    /* background-image: url(ferrari_purosangue_34.jpg); */
    /* background-color: blue; */
}

.foot {
    /* background-color: #ec401e; */
    color: white;
    width: 80%;
    display: flex;
    /* align-items: center; */
    height: 80%;
    justify-content: space-evenly;
    margin: auto;
}

.toof {
    height: 60%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: black; */
    /* text-decoration: ; */
}

.about a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #fdee1a;
}

.open {
    height: 19%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: black; */
    /* text-decoration: ; */
}

.room {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: space-between;
    align-items: start;
    /* background-color: black; */
    /* text-decoration: ; */
}

.loc {
    display: flex;
    width: 80%;
    /* height: 20%; */
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: start;
}

.opp {
    /* background-color: aqua; */
    height: 80px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pho {
    /* background-color: aqua; */
    height: 70px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.we {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    justify-content: space-between;
}
.col {
    display: flex;
    width: 44%;
    /* height: 30%; */
    /* margin-top: 10px; */
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: start;
}

.ema {
    display: flex;
    width: 64%;
    /* height: 10%; */
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: start;
}

.ail {
    /* background-color: aqua; */
    /* height: 5px; */
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ail a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: #fdee1a;
}
.foo {
    display: flex;
    width: 40%;
    justify-content: space-between;
    /* background-color: black; */
}
.soc {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 15%;
}

.cop {
    background-color: #fdee1a ;
    width: 100%;
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

  

@media screen and (max-width:800px) {


    body {
        width: 100vw;

    }

    #nav {
        display: flex;
        justify-content: space-between;
        /* background-color: blue; */
        width: 100vw;
       /* display: block;  */
    }
    .home {
        display: none;
    }

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 10%;
    }

    .info {
        /* background-color: aqua; */
        width: 20vw;
    }

    .enve {
        display: none;
    }

    .phone {
        /* background-color: #1ac8fd; */
    }
    .social {
        /* background-color: #25D366; */
        /* width: ; */
    }
    * {
        margin: 0;
        padding: 0;
        margin: auto;
        box-sizing: border-box;
    }
     .pro {
        display: grid;
        /* background-color: aquamarine; */
        width: 100vw;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        align-items: center;
        margin: auto;
     }
     .name {
        color: white;
        /* background-color: blue; */
        width: 95vw;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .details {
        display: flex;
        /* background-color: aqua; */
        width: 95vw;
        height: 50px;
        align-items: center;
        justify-content: space-between;
    }

    hr {
        width: 80vw;
    }
    
    .img {
        background-color: black;
        width: 95vw;
    }

    .img img {
        width: 95vw;
        /* height: 40vh; */
    }
    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
    
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content:'';
        display: block;
        width: 100%;
        height: 5px;
        background: white;
        margin: 6px 0px;
        transition: 0.4s;
    }
    
    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }
    
    .hamburger.is-active .bar {
       opacity: 0;
    }

    #products{
        width: 95vw;
         /* background-color: aqua; */
    }

    #menu {
        color: aqua;
        width: 10px;
    }

    #footer {
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: start;
}
.foot {
    width: 100%;
    height: 100%;
    /* align-items: center; */

    justify-content: space-between;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.foo {
    height: 30%;
    /* background-color: black; */
    width: 100%;
}
.room {
    height: 75%;
    display: flex;
    margin-left: 30%;
    /* background-color: blue; */
    margin-bottom: 2%;
}

.open {
    width:50% ;
    /* background-color: blue; */
    justify-content: space-between;
    flex-direction: column;
    height: 35%;
    display: flex;
}
.toof {
    height: 100%;
    /* background-color: blue; */
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
/* .cop {
    display: none;
} */

.loc {
    width: 69%;
    /* background-color: blue; */
}
.col {
    width: 33%;
    /* background-color: blue; */
}
.ema {
    width: 45%;
    /* background-color: blue; */
}
.enve {
    display: none;
}

    
}

/* @media screen and (min-width:500px) {
       body {
        width: 100vw;
        height: 100vh;
       }
     
       #nav {
        display: flex;
        justify-content: space-evenly;
        background-color: blue;
        width: 100%;
       display: block; 
    }
    .home {
        display: none;
    }


    
    .navbar {
        width: 100%;
        height: 10%;
    }

    .enve {
        display: none;
    }
    * {
        margin: 0;
        padding: 0;
        margin: auto;
        box-sizing: border-box;
    }
     .pro {
        display: grid;
        background-color: aquamarine;
        width: 100vw;
        grid-template-columns: repeat(1,1fr);
        gap: 20px;
        align-items: center;
        margin: auto;
     }

    
        color: white;
        background-color: blue;
        width: 100%;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }
    .hamburger {
        position: relative;
        display: block;
        width: 35px;
        height: 35px;
        cursor: pointer;
    
        appearance: none;
        background: none;
        outline: none;
        border: none;
    }
    
    .hamburger .bar, .hamburger:after, .hamburger:before {
        content:'';
        display: block;
        width: 100%;
        height: 5px;
        background: white;
        margin: 6px 0px;
        transition: 0.4s;
    }
    
    .hamburger.is-active:before {
        transform: rotate(-45deg) translate(-8px, 6px);
    }
    .hamburger.is-active:after {
        transform: rotate(45deg) translate(-9px, -8px);
    }
    
    .hamburger.is-active .bar {
       opacity: 0;
    }
}



 */

 @media screen and (min-width:800px) {



    body {
        width: 100vw;
        height: 100vh;
    }
    .pro {
        padding-bottom: 30px;
        /* padding-top: 20px; */
        /* margin-top: 90px; */
        display: grid;
        /* background-color: aquamarine; */
        width: 90vw;
        grid-template-columns: repeat(2,1fr);
        gap: 20px;
        align-items: center;
        margin: auto;
     }
 }

 @media screen and (min-width:1100px) {
    .pro {
        display: grid;
        /* background-color: aquamarine; */
        width: 100vw;
        grid-template-columns: repeat(3,1fr);
        gap: 20px;
        align-items: center;
        margin: auto;
     }
 } 
