@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    /* font-family: sans-s/; */
    padding: 0;
    margin: 0;
    background-position: sticky;
    /* width: 100vw; */
    /* height: 100vh; */
}

#body {
    overflow-y: hidden;
    overflow-x: hidden;
    padding: 0;
    margin: 0;
    background-position: sticky;
    /* background-color: blue; */
    /* width: 100vw; */
    /* height: 100vh; */
}

#van {
    position: fixed;
    z-index: 2;
}


#nav {
    /* z-index: 1; */
    /* position: fixed; */
    background-color:#fdee1a;
    display: flex;
    width: 100vw;
    height: 5vh;
    align-items: center;
    justify-content: space-around;
    /* position: fixed; */
}


/* .hamburger {
    display: none;
} */


.phone {
    width: 130px;
    /* font-size: 30px; */
    align-items: center;
    justify-content: space-between;
    color: black;
    display: flex;
    /* background-color: blue; */
}

.enve {
    align-items: center;
    width: 200px;
    justify-content: space-between;
    color: black;
    /* font-size: 30px; */
    display: flex;

    /* background-color: aqua; */
}

.info {
    display: flex;
    /* background-color: blue; */
    width: 400px;
    justify-content: space-between;
}

.social {
    width: 150px;
    display: flex;
    justify-content: space-evenly;
    /* background-color: blue; */
}

.navbar {
    /* position: sticky; */
    /* position: fixed; */
    margin: auto;
    /* z-index: 2; */
    background-color:  rgba(0, 0, 0, 0.772);
    color: white;
    height: 10vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    justify-content: space-around;
    align-items: center;
}
#toggle{
    font-size: 1.5rem;
    color: #fdee1a;
    display: none;
}
.links{
    list-style-type: none;
   
    
    /* width: 20vw; */
    
}
.links >li{
    padding-right: 20px;
    font-size: 1.2rem;
    font-weight: bold;
   display: inline;

}
.links >li>a {
   color: white;
   text-decoration: none;
   
  
}



.car {
    margin: auto;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(./pexels-mike-b-120049.jpg);
    /* opacity: 0.3; */
    /* background-image:linear-gradient(to right, rgba(0, 0, 0, 0.766) , rgba(255, 255, 0, 0.549)),url(./2023-cars-malibu.webp); */
    /* background-image: url(2023-cars-malibu.webp); */
    width: 100vw;
    display: flex;
    justify-content: center;
    height: 100vh;
    border: 1px solid black;
}

/* .ch:hover {
    background-color: #fdee1a;
} */

.get {
    /* background-image: url(Frame\ 85\ \(1\).png); */
    /* background-repeat: no-repeat; */
    /* background-size: cover; */
    color: white;
    /* border-top-right: ; */
    /* background-color: blue; */
    display: flex;
    width: 44vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 45vh;
}

.get h1 {
    font-size: 40px;
    margin-top: -40px;
}

.get span {
    display: block;
    font-size: 18px;
}

.get p {
    font-size: 18px;
}

.get span {
    margin-top: px;
}

.get button {
    background-color:#fdee1a;
    color: white;
    width: 150px;
    border: none;
    margin-bottom: -30px;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

.move {
    background-color: blue;
}

.cust {
    width: 80vw;
    /* background-color: blue; */
    margin: auto;
    height: 25vh;
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-evenly;
}


.sat {
    width: 20vw;
    display: flex;
    flex-direction: column;
    height: 90px;
    align-items: start;
    color: black;
    /* background-color: #ec401e; */
    justify-content: space-evenly;
    /* background-color: rgb(17, 109, 190); */
}

.moe {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* background-color: black; */
    width: 30vw;
    justify-content: space-around;
}

.moe h4 {
    font-size: 0.9em;
}

.tas {
    width: 20vw;
    display: flex;
    flex-direction: column;
    height: 90px;
    align-items: start;
    color: black;
    /* background-color: #2fec1e7a; */
    justify-content: space-around;
}

.tas p {
    font-size: 0.9em;
}

.sat p {
    font-size: 0.9em;
    /* font-weight: 190px; */
}

.emo {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    /* background-color: black; */
    width: 30vw;
    justify-content: space-between;
}

.emo h4 {
    font-size: 0.9em;
}

hr {
    height: 0.4%;
    background-color: #fdee1a;
    width: 78%;
    margin: auto;
}

.welcome {
    /* background-color: blue; */
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 38%;
}

.welcome button {
    background-color: #fdee1a;
    color: white;
    width: 150px;
    border: none;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

.top {
    color: #fdee1a;
    position: relative;
    left: -290;
    top: -8;
    border-top: 8px solid white;
    border-left: 8px solid white;
    /* border-top: 5px; */
    /* border-left: 90px; */
    /* background-color: rgb(255, 255, 255); */
    height: 70px;
    width: 100px;
}

.buttom {
    color: #fdee1a;
    position: relative;
    right: -292;
    top: 8px;
    border-bottom: 8px solid white;
    border-right: 8px solid white;
    /* border-top: 5px; */
    /* border-left: 90px; */
    /* background-color: rgb(255, 255, 255); */
    height: 70px;
    width: 100px;
}
.red {
    width: 9%;
    height: 0.9%;
    /* color: red; */
    background-color: #fdee1a;
}

.black {
    width: 6%;
    height: 0.7%;
    /* color: red; */
    background-color: black;
    margin-top: -17px;
}

#image {
    background-image: url(istockphoto-161819647-612x612.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100%;
}

#find {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: -6%;
    width: 100%;
    height:43%;
    background-color: aqua;
    background-image: url(894274b9eebb8390d17a95f3265e9264.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.your button {
    background-color: #fdee1a;
    color: white;
    width: 150px;
    border: none;
    
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

#all {
    background-color: white;
    width: 80%;
    color: black;
    font-weight: lighter;
    display: flex;
    align-items:center ;
    justify-content:space-between;
}

#all button {
    background-color: white;
    color: black;
}

.class {
    width: 70px;
    text-align: center;
    /* background-color: blue; */
}
.your {
    margin:auto;
    width: 30vw;
     height: 80%;
     color: white;
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: space-between;
    /* background-color: blue; */
}
#select {
    border: none;

}
.kia {
    /* background-color: blue; */
  margin-right: -300px;
  /* height: 90%; */
}
.services {
    height: 35%;
    background-color: #fdee1a;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    justify-content: space-evenly;
    font-weight: bolder;
    /* background-image: url(2019-Offroad-Tacoma-Tundra-4Runner-Lineup.png); */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(2019-Offroad-Tacoma-Tundra-4Runner-Lineup.png);
}

.services button {
    background-color: black;
    color: white;
    width: 150px;
    border: none;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

#expor {
    /* background-color: blue; */
    height: 40%;
    width: 100vw;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}



#get {
    background-color: aqua;
    height: 35vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(images\ \(1\).jpeg);

}

.quo {
    /* background-color: blue; */
    width: 66%;
    height: 60%;
    margin-left: -100px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-evenly;
}

#teg {
    /* background-color: aqua; */
    height: 35vh;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    background-size: cover;
    color: white;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(Mercedes-electric-rangeen.jpg);
}

#teg button {
    background-color: #fdee1a;
    color: white;
    width: 200px;
    border: none;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}
.quo button {
    background-color: #fdee1a;
    color: white;
    width: 150px;
    border: none;
    height: 45px;
    font-size: 14px;
    border-radius: 3px;
    font-weight: bold;
}

#review {
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    height: 35%;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(mind-control-car-mercedes-benz-front-600x400.jpg);
    /* justify-content: space-between; */
}

#consumer {
    display: flex;
    /* background-color: rgb(15, 243, 30); */
    width: 70%;
    height: 50%;
    align-items: center;
    justify-content: space-between;
}

.happy {
    text-align: center;
    color: white;
}
.happy h1 {
    font-size: 50px;
}

.done {
    text-align: center;
    color: white;
}
.done h1 {
    font-size: 50px;
}

.Node {
    text-align: center;
    color: white;
}
.Node h1 {
    font-size: 50px;
}

#why {
    color: white;
    /* background-repeat: no-repeat; */
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.31), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(884b28bd-d67f-4c90-a7e5-a066090db8f7\ \(1\).png);
    /* background-color: blue; */
    width: 100vw;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.deals {
    color: white;
    /* background-color: aqua; */
    width: 40VW;
    display: flex;
    flex-direction: column;
    height: 80%;
    justify-content: space-around;
}

.auto {
    display: flex;
    align-items: center;
    width: 25vw;
    /* background-color: blue; */
    justify-content: space-between;
}

.years {
    display: flex;
    align-items: center;
    width: 25vw;
    /* background-color: blue; */
    justify-content: space-between;
}



.parts {
    display: flex;
    align-items: center;
    width: 40vw;
    /* background-color: blue; */
    justify-content: space-between;
}

.us {
    /* background-color: aqua; */
    height: 12%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-evenly;
}

.der  {
    width: 100px;
    height: 2px;
    background-color: #fdee1a;
}

.bla {
    width: 70px;
    height: 2px;
    background-color: black;
}

#products {
    display: flex;
  /* background-color: aqua; */
  height: 15%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.first {
    margin: auto;
    /* background-color: #ec401e; */
    width: 120vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.second {
    margin: auto;
    /* background-color: #ec401e; */
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.572), rgba(0, 0, 0, 0.606), rgba(0, 0, 0, 0.305), rgba(0, 0, 0, 0.647)), url(./pexels-mike-b-120049.jpg);
    /* background-image: url(ferrari_purosangue_34.jpg); */
    /* background-color: blue; */
}

.foot {
    /* background-color: #ec401e; */
    color: white;
    width: 80%;
    display: flex;
    /* align-items: center; */
    height: 80%;
    justify-content: space-evenly;
    margin: auto;
}

.toof {
    height: 60%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: black; */
    /* text-decoration: ; */
}

.about a {
    text-decoration: none;
    color: white;
}

.open {
    height: 19%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: space-between;
    /* align-items: center; */
    /* background-color: black; */
    /* text-decoration: ; */
}

.room {
    height: 100%;
    display: flex;
    flex-direction: column;
    /* margin: auto; */
    justify-content: space-between;
    align-items: start;
    /* background-color: black; */
    /* text-decoration: ; */
}

.loc {
    display: flex;
    width: 80%;
    /* height: 20%; */
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: start;
}

.opp {
    /* background-color: aqua; */
    height: 80px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.pho {
    /* background-color: aqua; */
    height: 70px;
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.we {
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 25%;
    justify-content: space-between;
}
.col {
    display: flex;
    width: 44%;
    /* height: 30%; */
    /* margin-top: 10px; */
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: start;
}

.ema {
    display: flex;
    width: 64%;
    /* height: 10%; */
    /* background-color: aqua; */
    justify-content: space-between;
    align-items: start;
}

.ail {
    /* background-color: aqua; */
    /* height: 5px; */
    margin-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ail a {
    text-decoration: none;
    color: white;
}


.foo {
    display: flex;
    width: 40%;
    justify-content: space-between;
    /* background-color: black; */
}
.soc {
    display: flex;
    flex-direction: column;
    background-color: blue;
    width: 15%;
}

.cop {
    background-color: #fdee1a ;
    width: 100%;
    color: white;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.btn {
    display: inline-block;
    padding: 0.9rem 1.8rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid  #fdee1a ;
    cursor: pointer;
    position: relative;
    background-color: transparent;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color:  #fdee1a;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }
   .fancy {
    background-color: transparent;
    border: 2px solid #fdee1a;
    border-radius: 0;
    box-sizing: border-box;
    color: black;
    cursor: pointer;
    float: right;
    display: inline-block;
    font-weight: 700;
    letter-spacing: 0.05em;
    margin: 0;
    outline: none;
    overflow: visible;
    padding: 1.25em 2em;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: none;
    transition: all 0.3s ease-in-out;
    user-select: none;
    font-size: 13px;
   }
   
   .fancy::before {
    content: " ";
    width: 1.5625rem;
    height: 2px;
    background: black;
    top: 50%;
    left: 1.5em;
    position: absolute;
    transform: translateY(-50%);
    transform-origin: center;
    transition: background 0.3s linear, width 0.3s linear;
   }
   
   .fancy .text {
    font-size: 1.125em;
    line-height: 1.33333em;
    padding-left: 2em;
    display: block;
    text-align: left;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
   }
   
   .fancy .top-key {
    height: 2px;
    width: 1.5625rem;
    top: -2px;
    left: 0.625rem;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, left 0.3s ease-out;
   }
   
   .fancy .bottom-key-1 {
    height: 2px;
    width: 1.5625rem;
    right: 1.875rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy .bottom-key-2 {
    height: 2px;
    width: 0.625rem;
    right: 0.625rem;
    bottom: -2px;
    position: absolute;
    background: #e8e8e8;
    transition: width 0.5s ease-out, right 0.3s ease-out;
   }
   
   .fancy:hover {
    color: white;
    background: #fdee1a;
   }
   
   .fancy:hover::before {
    width: 0.9375rem;
    background: white;
   }
   
   .fancy:hover .text {
    color: white;
    padding-left: 1.5em;
   }
   
   .fancy:hover .top-key {
    left: -2px;
    width: 0px;
   }
   
   .fancy:hover .bottom-key-1,
    .fancy:hover .bottom-key-2 {
    right: 0;
    width: 0;
   }
   
   .wh {
    background: none;
    position: fixed;
    text-align: end;
    margin-right:50px;
    z-index: 2;
}
   

#dop {
    position: fixed;
    right:14px;
    display: flex;
    align-items: center;
    border-radius: 20px;
    justify-content: space-around;
bottom:30px;
color: black;
    width: 300px;
  cursor: pointer;
    background-color: #fdee1a;
    height: 50px;
    /* color: white; */
    box-shadow: 1px 1px 1px 1px;
    font-weight: bolder;
    font-size: larger;
}

#po a:hover {
    color: black;
}

@media screen and (max-width: 800px) {
    body {
        width: 100vw;
        /* height: 100vh; */
    }

    /* #body {
        width: 100vw;
        height: 100vh;
    } */
    #nav {
        display: flex;
        justify-content: space-evenly;
        /* background-color: blue; */
        width: 100vw;
       /* display: block;  */
    }
  

    .navbar {
        display: flex;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        height: 10%;
    }

    .car{
        width: 100vw;
        height: 100vh;
        background-repeat: no-repeat;
        background-size:cover;
    }

    .get {
        margin: auto;
        /* background-color: blue; */
        width: 70%;
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .get h1 {
        font-weight: bolder;
        font-size: 1.6rem;
    }

    .top {
        position: relative;
        /* display: none; */
        left: -42%;
        top:1%;
    }

    .buttom {
        position: relative;
        right:-42%;
        /* display: none; */
        top: 2%;
        /* background-color: red; */
    }

    .cust {
        margin-top: 5%;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        /* background-color: #0000ff; */
        align-items: center;
        height: 38%;
        width: 100vw;
    }
    .sat {
        /* background-color: aqua; */
        width: 100%;
    }
    .ca {
        width: 70px;
        font-size: 5px;
        color: black;
    }
    .moe{
        width: 70%;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    
.emo {
    width: 70%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.person {
    /* height: ; */
    width: 70px;
    /* background-color: yellow; */
    font-size: 5px;
    color: black;
}
    .sat p {
        font-size: 0.8rem;
    }

    .bi bi-emoji-smile {
    font-size: 10px;
    }

    .tas {
        /* background-color: aqua; */
        width: 100%;
    }

    .tas p {
        font-size: 0.8rem;
    }
.set {
    width: 70px;
}
hr {
    margin-top: 60px;
    width: 90%;
    height: 0.5%;
    /* background-color: #ec401e; */
    color: #fdee1a;
}

.welcome {
    width: 100vw;
        height: 40%;
    /* background-color: #d52c0b; */
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#image {
    /* background-size: cover; */
    width: 100vw;
    /* background-color: blue; */
        height: 90%;
        background-repeat: no-repeat;
        background-size:cover;
}
.welcome h2 {
    font-size: 1.1rem;
    /* color: blue; */
}

.welcome p {
    font-size: 1rem;
}

.we {
    display: grid;
    /* grid-template-columns:; */
    /* g-direction: column; */
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    height: 30%;
    width: 95vw;
    /* justify-content: ; */
}

.welcome button {
    height: 26%;
    font-size: 70%;
    width: 35%;
    display: none;
}

.red {
    width: 20%;
    /* margin-top: 9px; */
    /* margin-top: -16px; */
}

.black {
    width: 30%;
    margin-top:0.1%;
}

#find {
    display: flex;
    align-items: center;
    margin: auto;
    width: 100vw;
    justify-content: center;
    /* height: 90%; */
        background-repeat: no-repeat;
        background-size:cover;
}

.your {
    /* margin: auto; */
    width: 50vw;
    height: 100%;
    /* background-color: blue; */
    display: flex;
    margin: auto;
    justify-content: space-evenly;
    align-items: center;
    margin-right: 130px;
    /* height: 150%; */
}

.your button {
    /* height: 19%; */
    font-size: 75%;
    /* width: 35%; */
}

#all {
    height: 20%;
}

#all button {
    height: 30%;

}
.your h2 {
      font-size: 1.2rem;
}
.kia img  {
    display: none;
   /* width: 50px; */
   /* height: 100px; */
}

.services {
    width: 100vw;
    height: 40%;
    background-size: cover;
    background-repeat: no-repeat;
}

.services h5 {
    font-size: 1.2rem;
}

.services h2 {
    font-size: 1.3rem;
}

#teg {
    display: none;
}

#get {
    width: 80vw;
    margin: auto;
}
/* #get button {
    height: 25%;
    font-size: 70%;
    width: 60%;
} */

.quo {
    margin-left: -20%;
    height: 70%;
    /* background-color: blue; */
}
/* .quo { */

/* } */
#expor {
    /* background-color: blue; */
    width: 100%;
}
#review {
    width: 100vw;
    height: 50%;
    background-size: cover;
    background-repeat: no-repeat;
}

#consumer {
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.281);
}

.happy h1 {
    font-size: 1.5rem;
}
.happy {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height:60% ;
    /* background-color: blue; */
}
.happy p {
    font-size: 1rem;
}
.done {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height:60% ;
    /* background-color: blue; */
}

.done h1 {
    font-size: 1.5rem;
}
.node {
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    display: flex;
    height:60% ;
    /* background-color: blue; */
}
.node h1 {
    font-size: 1.5rem;
}

#why {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70%;
}

.us {
    font-size: 1.2rem;
}

.deals {
    /* background-color: blue; */
    width: 90vw;
    display: flex;
    align-items: center;
}
.deals h3 {
    font-size: 1rem;
}
.deals p {
    font-size: 0.9rem;
}

.auto {
    /* background-color: blanchedalmond; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.years {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.parts {
    /* background-color: aliceblue; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.in {
    /* background-color: blue; */
    width: 80%;
}

#products {
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 10%;
    /* background-color: blue; */
}
.first {
    /* background-color: #ec401e; */
    display: flex;
    width: 100%;
    /* background-color: #ec401e; */
    /* flex-direction: column; */
}
.first img {
    height: 60px;
    width: 60px;
    /* background-color: blue; */

}
/* .second { */
    /* display: flex; */
    /* width: 100%; */
    /* background-color: #ec401e; */
    /* flex-direction: column; */
/* } */

.second img {
    height: 40px;
    width: 30px;
}

#footer {
    height: 70%;
    display: flex;
    align-items: start;
    justify-content: start;
}
.foot {
    width: 100%;
    height: 100%;
    /* align-items: center; */

    justify-content: space-between;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
}

.foo {
    height: 30%;
    /* background-color: black; */
    width: 100%;
}
.room {
    height: 75%;
    display: flex;
    margin-left: 30%;
    /* background-color: blue; */
    margin-bottom: 2%;
}

.open {
    width:50% ;
    /* background-color: blue; */
    justify-content: space-between;
    flex-direction: column;
    height: 35%;
    display: flex;
}
.toof {
    height: 100%;
    /* background-color: blue; */
    justify-content: space-between;
    flex-direction: column;
    display: flex;
}
/* .cop {
    display: none;
} */

.loc {
    width: 69%;
    /* background-color: blue; */
}
.col {
    width: 33%;
    /* background-color: blue; */
}
.ema {
    width: 45%;
    /* background-color: blue; */
}
.enve {
    display: none;
}
.hamburger {
    position: relative;
    display: block;
    width: 35px;
    /* height: 35px; */
    cursor: pointer;

    appearance: none;
    background: none;
    outline: none;
    border: none;
}

.hamburger .bar, .hamburger:after, .hamburger:before {
    content:'';
    display: block;
    width: 100%;
    height: 5px;
    background: white;
    margin: 6px 0px;
    transition: 0.4s;
}

.hamburger.is-active:before {
    transform: rotate(-45deg) translate(-8px, 6px);
}
.hamburger.is-active:after {
    transform: rotate(45deg) translate(-9px, -8px);
}

.hamburger.is-active .bar {
   opacity: 0;
}

.btn {
    display: inline-block;
    padding: 0.5rem 1.5rem;
    font-size: 16px;
    font-weight: 700;
    color: white;
    border: 3px solid  #fdee1a;
    cursor: pointer;
    position: relative;
    background-color: transparent;hover
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    font-family: inherit;
   }
   
   .btn::before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #fdee1a;
    transform: translateX(-100%);
    transition: all .3s;
    z-index: -1;
   }
   
   .btn:hover::before {
    transform: translateX(0);
   }

   .fancy {
    display: none;
   }
}


@media only screen and (max-width: 600px) {
  #toggle{
   display: flex;
  }
  .links{
    display: none;
  }

  .links >li >a {
    font-size: .6rem;
  }
  }